.accordion {
}
.accordion__button {
    cursor: pointer;
}
.offset-left {
    margin-left: 32px;
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}
